
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import "tailwindcss";






root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Light mode */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode */
.dark body {
  background-color: #121212;
  color: #f0f0f0;
}

.dark .navbar {
  background-color: #1a1a1a;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  0% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  49% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  50% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: transparent;
  }
}

.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  animation: typewriter 3s steps(30) 1s 1 normal both, blinkCursor 1s step-end infinite;
}



body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  overflow-x:hidden;
  max-width: 100vw;
  display: block;

}
/* c */

@keyframes drawLine {
  from {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw-line {
  animation: drawLine 2s ease forwards;
}




h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
